
  .slider {
    margin-top: 40px;
    display: flex;
    gap: 15px;
    justify-content: center;
  }
  .slider img {
    width: 100px;
    height: 100px;
    border-radius: 4px;
    object-fit: cover;
  }
  .features {
    display: flex;
    justify-content: center;
    margin: 20px 55px 20px 55px;
    gap: 40px;
  }
  .feature-card {
    width: 30%;
    text-align: left;
  }
  .feature-card h3 {
    margin-bottom: 10px;
  }
  .feature-card p {
    font-size: 14px;
    color: #555;
  }